@charset "UTF-8";
/*TAMAÑOS DE PANTALLA PARA MEDIA QUERIES*/
/*MIXINS*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-size: medium;
}

body {
  background-image: linear-gradient(to bottom right, #ffe7fc, #dfebfa, white);
  font-family: "Quicksand", sans-serif;
}

img {
  max-width: 100%;
}

h1 {
  color: rgb(76, 196, 39);
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: justify;
}

@media screen and (max-width: 767px) {
  h1 {
    text-align: center;
  }
}
h2 {
  color: rgb(76, 196, 39);
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.boton {
  padding: 0.1rem;
  border: solid 1px rgb(83, 83, 83);
  border-radius: 0.5rem;
  padding: 0.3rem;
}

/*EXTENDS*/
.centrar, .card, .boton {
  align-items: center;
}

nav {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.header-flex__lista-navegacion li:hover {
  transform: scale(1.2, 1.2);
}

.imagen-header {
  width: 10rem;
  /*height seria para la altura; width para el ancho*/
}

#header-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  top: 0;
  width: 100%;
  background-color: rgb(253, 245, 250);
  /*z-index lo puedo usar para que no me quede el menu detras de los otros elementos*/
}

.header-flex__lista-navegacion {
  display: flex;
  /*gap = espacios pequeños*/
  gap: 1.5rem;
  margin-right: -3rem;
}

.header-flex__lista-navegacion a {
  color: black;
  font-size: 1.2rem;
}

@media screen and (max-width: 850px) {
  .imagen-header {
    width: 8.5rem;
  }
}
@media screen and (max-width: 767px) {
  #header-flex {
    flex-direction: column;
  }
  .header-flex__lista-navegacion {
    gap: 1rem;
  }
  .header-flex__lista-navegacion a {
    font-size: 1.15rem;
  }
  .imagen-header {
    width: 12rem;
  }
  h1 {
    text-align: center;
  }
}
@media screen and (max-width: 543px) {
  .header-flex__lista-navegacion {
    flex-direction: column;
  }
}
footer {
  margin-top: 1.5rem;
  font-weight: bold;
}
footer img {
  width: 2.2rem;
  margin: 0.7rem 1rem;
}

#body-grids {
  display: grid;
  grid-template-areas: "header header header" "h1 h1 h1" "parrafo parrafo parrafo" "side imagen otherside" "side imagen otherside" "parr parr parr" "footer footer footer";
  grid-template-columns: 8fr 84fr 8fr;
  justify-content: space-evenly;
}

header {
  grid-area: header;
}

h1 {
  grid-area: h1;
}

div.parrafos-inicio {
  grid-area: parrafo;
}

div.iconos1 {
  grid-area: side;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 1.5rem;
}

div.imagen-inicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 3rem;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 767px) {
  div.inicio__img {
    width: 2.5rem;
  }
}
@media screen and (max-width: 543px) {
  div.imagen-inicio {
    max-width: 70%;
  }
  div.inicio__img {
    width: 2.5rem;
  }
}
div.iconos2 {
  grid-area: otherside;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 1.5rem;
}

#parr {
  margin-top: 1rem;
  grid-area: parr;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

/*MEDIA QUERIES PARA DESKTOP FIRST*/
@media screen and (max-width: 767px) {
  .imagen-inicio {
    display: flex;
    flex-direction: column;
  }
}
.inicio__parrafo {
  font-style: italic;
}

.inicio__parrafo-fuenteGrande {
  font-style: italic;
  font-size: large;
}

@media screen and (max-width: 767px) {
  .inicio__parrafo-fuenteGrande {
    font-size: medium;
  }
}
@media screen and (max-width: 543px) {
  html {
    font-size: small;
  }
  .inicio__parrafo-fuenteGrande {
    font-size: small;
  }
}
.inicio__img-tamano {
  width: 3rem;
}

#productos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1.4rem;
}

.card {
  border: solid 0.12rem rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.2rem;
  margin-bottom: 1.8rem;
  border-radius: 1.5rem;
  background-color: rgba(249, 238, 252, 0.2);
}
.card img {
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}

.card__parrafo {
  color: rgb(76, 196, 39);
  font-weight: bold;
}

.card__parrafo-precio {
  font-style: italic;
}

.card__img-achicar {
  width: 19rem;
}

.card:hover {
  transform: scale(1.1, 1.1);
}

#galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
  justify-items: center;
  row-gap: 2rem;
}
#galeria img {
  border-radius: 1.5rem;
  border: solid 0.12rem rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  width: 20rem;
  place-items: center;
}

.texto-galeria {
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1100px) {
  #galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  #galeria {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
  }
  #galeria img {
    width: 30rem;
  }
}
.transform:hover {
  transform: scale(1.15, 1.15);
}

.historia__parrafo {
  font-style: italic;
}

.historia__parrafo-letraGrande {
  font-style: italic;
  font-size: large;
}

#quienes-somos-grids {
  display: grid;
  grid-template-areas: "header header" "amapola mapa" "footer footer";
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}

@media screen and (max-width: 1030px) {
  #quienes-somos-grids {
    display: flex;
    flex-direction: column;
  }
}
header {
  grid-area: header;
}

section#historia {
  grid-area: amapola;
}

section#ubicacion {
  grid-area: mapa;
}

footer {
  grid-area: footer;
}

#p2 {
  display: flex;
  justify-content: space-evenly;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

#formulario-contacto fieldset {
  background-color: rgba(194, 205, 241, 0.15);
  display: inline;
  padding: 1.5rem 3rem;
  border: solid 0.12rem rgba(0, 0, 0, 0.4);
  border-radius: 1.5rem;
  width: 30rem;
}
#formulario-contacto legend {
  font-weight: bold;
  font-size: 1.2rem;
}

.formulario-contacto__question {
  font-weight: bold;
  margin-bottom: 1rem;
}

.formulario-contacto__question-2 {
  font-weight: bold;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.boton-formulario {
  display: flex;
  justify-content: center;
}

.zona {
  display: flex;
}

/*# sourceMappingURL=styles.css.map */
