*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-size: medium;
}

body{
    background-image: $bg-gradient;
    font-family: 'Quicksand', sans-serif;
}

img{
    max-width: 100%;
}

h1{

    color: $color-titulos;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: justify;
}

@media screen and (max-width: $pantalla-mediana) {
    
    h1{
        text-align: center;
    }
}

h2{
    color: $color-titulos;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

p{
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.boton{
    @extend .centrar;
    padding: 0.1rem;
    border: $bordes;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

/*EXTENDS*/

.centrar{
    align-items: center;
}
