nav{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: large;
}


.header-flex__lista-navegacion li:hover{
    transform: scale(1.2,1.2);
}

.imagen-header{
    width: 15rem;
    margin-right: 30rem;
    max-width: 100%;
    /*height seria para la altura; width para el ancho*/
}

.header-flex{
 @include flex-evenly-center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    top: 0;
    /*z-index lo puedo usar para que no me quede el menu detras de los otros elementos*/
}

.navbar{
    @include flex-evenly-center;
    /*gap = espacios pequeños*/
    gap: 3rem;
}

nav{
    margin: 0.5rem;

}

.header-flex__lista-navegacion a{
    color: black;
    font-size: 1.2rem;
}


@media screen and (max-width: 850px){
    .imagen-header{
     width: 8.5rem;   
    }
}

@media screen and (max-width: 767px) {

    .header-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
    }
    
    .header-flex__lista-navegacion{
        gap: 1rem;
    }

    .header-flex__lista-navegacion a{
        font-size: 1.15rem;
    }

    .imagen-header{
        width: 12rem;
    }

    h1{
        text-align: center;
    }
}

@media screen and (max-width: 543px){
    .header-flex__lista-navegacion{
        flex-direction: column;
    }

}