.historia__parrafo{
    font-style: italic;
}

.historia__parrafo-letraGrande{
    font-style: italic;
    font-size: large;
}


#quienes-somos-grids{
    display: grid;
    grid-template-areas: 
    "header header"
    "amapola mapa"
    "footer footer";

    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

@media screen and (max-width: 1030px) {
    #quienes-somos-grids{
        display: flex;
        flex-direction: column;
    }
    .mapa{
        max-width: 100%;
    }    
}

header{
    grid-area: header;
}

section#historia{
    grid-area: amapola;
}

section#ubicacion{
    grid-area: mapa;
}

footer{
    grid-area: footer;
}
#p2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.3rem;
}

#p3{
    margin-top: 2.3rem;
}