#productos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1.4rem;
}

.card{
    border:solid 0.12rem rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.2rem;
    margin-bottom: 1.8rem;
    border-radius: 1.5rem;
    background-color: rgba(249, 238, 252, 0.2);
}

.card img{
    border-radius: 1.5rem;
    margin-bottom: 1rem;
}

.card__parrafo{
    color: rgb(76, 196, 39);
    font-weight: bold;
}

.card__parrafo-precio{
    font-style: italic;
}


.card__img-achicar{
    width: 19rem;
}

.card:hover{
    transform: scale(1.1,1.1);
}

