$bg-gradient: linear-gradient(to bottom right, #ffe7fc, #dfebfa, white);
$color-titulos: rgb(76, 196, 39);
$bordes: solid 1px rgb(83, 83, 83);
$color-secundario: rgb(253, 245, 250);

/*TAMAÑOS DE PANTALLA PARA MEDIA QUERIES*/

$pantalla-mediana: 767px;
$pantalla-chica: 300px;
$pantalla-grande: 992px;

/*MIXINS*/

@mixin flex-evenly-center{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}