@import "variables";
@import "general";
@import "header";
@import  "inicio";
@import "productos";
@import "galeria";
@import "nosotros";
@import "contacto";
   


footer{
    margin-top: 1.5rem;
    font-weight: bold;
}



.boton{
    padding: 0.1rem;
    border: solid 1px rgb(83, 83, 83);
    border-radius: 0.5rem;
    padding: 0.3rem;
}

.footer__img{
    width: 2.2rem;
    margin: 0.7rem 1rem;
}

.inicio__parrafo{
    font-style: italic;
}

.inicio__parrafo-fuenteGrande{
    font-style: italic;
    font-size: large;
}

@media screen and (max-width: 767px) {

.inicio__parrafo-fuenteGrande{
    font-size: medium;
}

}

@media screen and (max-width: 543px) {

    html{
        font-size: small;
    }

    .inicio__parrafo-fuenteGrande{
        font-size: small;
    }
    
}



.inicio__img-tamano{
    width: 3rem;
}







.imagen-inicio img{
    border:solid 0.12rem rgba(0, 0, 0, 0.2);
    border-radius: 3rem;
    padding: 1rem;
    justify-self: center;
    align-self: center;
}

.imagen-inicio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    justify-self: center;
    align-self: center;
}


.card .boton {
    align-items: center;
}

footer{
    grid-area: footer;
}


#parr{
    margin-top: 1rem;
}

#quienes-somos-grids{
    display: grid;
    grid-template-areas: 
    "header header"
    "amapola mapa"
    "footer footer";

    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

@media screen and (max-width: 1030px) {
    #quienes-somos-grids{
        display: flex;
        flex-direction: column;
    }
    
}

header{
    grid-area: header;
}

section#historia{
    grid-area: amapola;
}

section#ubicacion{
    grid-area: mapa;
}

footer{
    grid-area: footer;
}

#p2{
    display: flex;
    justify-content: space-evenly;
}


