@import "variables";
@import "general";
@import "header";
@import "footer";
@import  "inicio";
@import "productos";
@import "galeria";
@import "nosotros";
@import "contacto";
   
.boton{
    padding: 0.1rem;
    border: $bordes;
    border-radius: 0.5rem;
    padding: 0.3rem;
}


.card .boton {
    align-items: center;
}

footer{
    grid-area: footer;
}


#parr{
    margin-top: 1rem;
}

#quienes-somos-grids{
    display: grid;
    grid-template-areas: 
    "header header"
    "amapola mapa"
    "footer footer";

    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

@media screen and (max-width: 1030px) {
    #quienes-somos-grids{
        display: flex;
        flex-direction: column;
    }
    
}

header{
    grid-area: header;
}

section#historia{
    grid-area: amapola;
}

section#ubicacion{
    grid-area: mapa;
}

footer{
    grid-area: footer;
}

#p2{
    display: flex;
    justify-content: space-evenly;
}


